// wev helps figure out keys
binds {
    Alt+E hotkey-overlay-title="Open a Terminal: wezterm" { spawn "wezterm"; }
    Alt+Q hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Alt+B hotkey-overlay-title="Random Background" { spawn "~/Pictures/choose_wallpaper.sh"; }
    Mod+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    Mod+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill wooz || exec wooz --invert-scroll"; }
    Alt+Z               allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    Alt+KP_UP           allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    Alt+KP_Down         allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    Alt+KP_Begin        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    Alt+KP_Left         allow-when-locked=true { spawn-sh "playerctl previous"; }
    Alt+KP_Right        allow-when-locked=true { spawn-sh "playerctl next"; }
    
    // Alt+MouseRight      {}
    // Alt+MouseLeft       {}

    // Waiting for the day I can bind toggle overview to Mod
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    Alt+F4 repeat=false { close-window; }

    Alt+Left  { focus-column-left; }
    Alt+Down  { focus-window-or-workspace-down; }
    Alt+Up    { focus-window-or-workspace-up; }
    Alt+Right { focus-column-right; }

    Alt+Ctrl+Left  { move-column-left; }
    Alt+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Alt+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Alt+Ctrl+Right { move-column-right; }


    Alt+Home { focus-column-first; }
    Alt+End  { focus-column-last; }
    Alt+Ctrl+Home { move-column-to-first; }
    Alt+Ctrl+End  { move-column-to-last; }

    Alt+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Alt+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Alt+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Alt+Shift+Ctrl+Right { move-column-to-monitor-right; }

    // Alt+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // Moving a whole workspace to another monitor might be cool
    // Alt+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }

    Alt+Page_Down      { focus-workspace-down; }
    Alt+Page_Up        { focus-workspace-up; }
    Alt+U              { focus-workspace-up; }
    Alt+I              { focus-workspace-down; }
    Alt+Ctrl+Page_Down { move-column-to-workspace-down; }
    Alt+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Alt+Ctrl+U         { move-column-to-workspace-down; }
    Alt+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Alt+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Alt+Shift+Page_Down { move-workspace-down; }
    Alt+Shift+Page_Up   { move-workspace-up; }
    Alt+Shift+U         { move-workspace-down; }
    Alt+Shift+I         { move-workspace-up; }
    // Window jumping and movement
    // NOTE: Fucking wow fucks this up, I need to inhibit keys per app or something
    // Alt+WheelScrollDown      cooldown-ms=150 { focus-column-right; }
    // Alt+WheelScrollUp        cooldown-ms=150 { focus-column-left; }
    Alt+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Alt+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Alt+Shift+WheelScrollDown { move-column-right; }
    Alt+Shift+WheelScrollUp { move-column-left; }

    // Alt+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Alt+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    
    // Workspace movement
    Alt+1 { focus-workspace "general"; }
    Alt+2 { focus-workspace "discord"; }
    Alt+3 { focus-workspace "games"; }
    Alt+4 { focus-workspace "misc"; }
    // Alt+5 { focus-workspace 5; }
    // Alt+6 { focus-workspace 6; }
    // Alt+7 { focus-workspace 7; }
    // Alt+8 { focus-workspace 8; }
    // Alt+9 { focus-workspace 9; }
    Alt+Ctrl+1 { move-column-to-workspace "general"; }
    Alt+Ctrl+2 { move-column-to-workspace "discord"; }
    Alt+Ctrl+3 { move-column-to-workspace "games"; }
    Alt+Ctrl+4 { move-column-to-workspace "misc"; }
    // Alt+Ctrl+5 { move-column-to-workspace 5; }
    // Alt+Ctrl+6 { move-column-to-workspace 6; }
    // Alt+Ctrl+7 { move-column-to-workspace 7; }
    // Alt+Ctrl+8 { move-column-to-workspace 8; }
    // Alt+Ctrl+9 { move-column-to-workspace 9; }


    // Alt+BracketLeft  { consume-or-expel-window-left; }
    // Alt+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Alt+Comma  { consume-window-into-column; }
    Alt+Period { expel-window-from-column; }

    Alt+R { switch-preset-column-width; }
    Alt+Shift+R { switch-preset-window-height; }
    Alt+Ctrl+R { reset-window-height; }
    Alt+F { maximize-column; }
    Alt+Shift+F { maximize-window-to-edges; }
    Alt+F11 { fullscreen-window; }

    Alt+C { center-column; }

    // Center all fully visible columns on screen.
    Alt+Ctrl+C { center-visible-columns; }

    Alt+Minus { set-column-width "-10%"; }
    Alt+Plus { set-column-width "+10%"; }
    Alt+Shift+Minus { set-window-height "-10%"; }
    Alt+Shift+Plus { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Alt+V       { toggle-window-floating; }
    Alt+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Alt+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Alt+Space       { switch-layout "next"; }
    // Alt+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Alt+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Alt+Shift+P { power-off-monitors; }
}
recent-windows {
    binds {
        Alt+Tab             { next-window     scope="workspace"; }
        Alt+Shift+Tab       { previous-window scope="workspace"; }
        Alt+masculine       { next-window     scope="output" filter="app-id"; }
        Alt+Shift+masculine { previous-window scope="output" filter="app-id"; }
    }
}
