// 
// 
// 
// 
// 
// 
layout {
    focus-ring {
        inactive-color "#211E21CC"
        active-gradient from="#6B2A46CC" to="#AB4C9BCC"
    }
    border {
        // width 10
        inactive-color "#381226CC"
        urgent-color "#F3A340"
        active-gradient from="#6B2A46CC" to="#AB4C9BCC"
    }
    tab-indicator {
        inactive-color "#381226CC"
        urgent-color "#F3A340"
        active-color "#D7B083CC"
    }
    insert-hint {
        gradient from="#6B2A46CC" to="#AB4C9BCC"
    }
    background-color "#AB4C9B"
}

recent-windows {
    highlight {
        active-color "#AB4C9BCC"
        urgent-color "#F3A340"
    }
}
