// This config is in the KDL format: https://kdl.dev
// https://yalter.github.io/niri/Configuration:-Introduction
include "style.kdl"
include "colors.kdl"
include "binds.kdl"
include "rules.kdl"
input {
    mod-key "Alt"
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7).
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1.
        }
        numlock
    }
    touchpad {}
    mouse {}
    trackpoint {}
    // Mouse focus windows
    focus-follows-mouse 
}

layout {
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        // fixed 1920
    }
    // preset-window-heights { }
    // Let windows decide their initial width
    default-column-width {}
}


//TODO: Move this to systemd, it's unreliable here.
spawn-at-startup "qs"

spawn-sh-at-startup "swww-daemon"
spawn-sh-at-startup "swww-daemon -n overview"
spawn-sh-at-startup "~/Pictures/choose_wallpaper.sh"


hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


// Define workspaces
// It'll still be dynamic, can't change that.
workspace "general"
workspace "discord"
workspace "games"
workspace "misc"

// Make swww-overview display on the overview
layer-rule {
    match namespace="swww-daemonoverview"
    // match at-startup=true
    place-within-backdrop true
    opacity 0.85
}

layer-rule {
  match namespace="notifications"
  place-within-backdrop true
  block-out-from "screen-capture"
}
