#root.root {
  --ctx-menu-text-opt-inner-gap: 4px;
  --ctx-menu-icon-opt-height: 30px;
  --tabs-border-radius: 8px;
  --tabs-activated-shadow: none;
}

#root.root:not(:hover) {
  --tabs-indent: 0xp;
}

.NavigationBar .nav-item[data-active="true"] {
  background-color: var(--frame-bg);
  box-shadow: 0px 0px 5px 0px var(--frame-bg);
}

.NavigationBar .nav-item .audio {
  background-color: transparent;
}

/* This removes the little leftover text when not hovered */
#root.root:not(:hover) .Tab .body .t-box {
  opacity: 0;
  transition: opacity 0.25s;
}

#root.root {
  [data-class="space"] {
    transition: flex-grow 0.2s ease;
  }

  &:not(:hover) {
    .main-items {
      grid-gap: unset;
    }

    [data-class="space"] {
      flex-grow: 0;
    }
  }
}


/* Container icon fill the tab and centered */
.Tab[data-pin="false"] .ctx {
  height: calc(105%);
  position: static;
}
