:root {
  --my-color: var(--toolbar-bgcolor);
  --floating-margin: 8px;
}

#sidebar-box:hover {
  border-radius: 0px 15px 15px 0px;
}


#main-window:not([sizemode="fullscreen"]) {
  #browser {
    background: var(--my-color) !important;
  }

  #browser>* {
    background: var(--my-color) !important;
    overflow: hidden;

  }



  #sidebar-box {
    margin: var(--floating-margin);
    border-radius: 0px 15px 15px 0px;

    margin-right: 0px;
    margin-left: 0px;

    background: var(--my-color) !important;
    box-sizing: border-box !important;
  }

  #tabbrowser-tabbox {
    padding: var(--floating-margin);
  }
}
