
/* Adds an indicator of a loading page right below the urlbar */

@keyframes animateBg {
  0% { background-position: 100% 0%; }
  100% { background-position: 0% 0%; }
}
#statuspanel[type="status"]::after{
  position: fixed;
  display: block;
  height: 3px;
  width: 100vw;
  top: 0;
  left:0;
  content: "";
  pointer-events: none;
  background-size: 1100% 100%;
  background-image: linear-gradient(to left, white, black, white);
  animation: animateBg 2s linear infinite;
}

@keyframes animateBg {
  0% { background-position: 100% 0%; }
  100% { background-position: 0% 0%; }
}

.browserContainer{ transform: translate(0); } 
