/** Hide tabs in favor of sidebar tabs **/
/* Variables, redefine on userChrome if wanted */
:root {
  --sidebery-expanded-width: 300px;
  --sidebery-collapsed-width: 34px;
  --sidebery-expanded-margin: calc((var(--sidebery-expanded-width) - calc(var(--sidebery-collapsed-width))) * -1);
}
/* Hide tabs */
#TabsToolbar {
  display: none;
}
/* Hide sidebar logo and resizer */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + #sidebar-splitter {
  display: none;
}
/* Hide the small border between top bar and content */
#navigator-toolbox {
  border-bottom: 0px !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  min-width: var(--sidebery-collapsed-width) !important;
  width: var(--sidebery-collapsed-width) !important;
  overflow: hidden;
  z-index: 3;
  transition: all 190ms cubic-bezier(0, 0, 0.58, 1);
}

/* Pretty sure I took this from https://github.com/vipintom/stealthFox */
/* Make the sidebar inside (pinned tabs, etc...) as large as the max, 
* so it doesn't wrap them downwards  when collapsed */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
  width: var(--sidebery-expanded-width);
}
/* Expand on hover */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover {
  width: var(--sidebery-expanded-width) !important;
  margin-right: var(--sidebery-expanded-margin) !important;
  clip-path: inset(0px -50px 0px 0px);
  filter: drop-shadow(7px 0px 2px color-mix(in srgb, var(--toolbar-bgcolor) 100%, rgba(0, 0, 0, 1)));
}
