@import "css/sidebar-base.css";
@import "css/toolbar.css";
@import "css/findbar.css";
:root {
  --toolbar-border-radius: 25px;
  --toolbar-top-separation: 50px;
  --sidebar-expanded-width: 300px;
  --sidebar-collapsed-width: 30px;
}
